# telebot
TELEBOT_TOKEN=
ADM_CHAT=

# database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=

# elasticsearch
E_HOST=
E_PORT=
E_INDEX=

# trello
TRELLO_API_KEY=
TRELLO_API_SECRET= 
BOARD_ID=
TODO_LIST_ID=
DONE_LIST_ID= 

# sync period time in seconds
PERIOD_TIME=3600

# info for filling database with basic data
SITE_URL=http://naukograd-dubna.ru/mun/contacts

# path to application app folder
PATH_TO_APP_FOLDER=